
/* Styling for smooth scrollng */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cuprum', sans-serif !important;
}

/*----------------- Section Styling begins here -------------------*/



/* Navbar styling begins here */
.bg-dark {
    background-color: #4a434094!important;
}

.nav {
    padding-right: 5%; 
}
.nav-pills .nav-link {
    color: azure !important;
    font-size: 22px;
}
.nav-pills .nav-link:hover {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    transition: 1s;
}
.nav-pills .nav-link:active {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

/* Navbar styling ends here */
/*------------------------------------------------------------------------*/
/* Model styling begins here */

.modal-body {
    position: relative;
    flex: 1 1 auto;
    text-align: center;
    padding: 1rem;
    background: #0e649c;
    color: azure;
}

/* Model styling ends here */
/*------------------------------------------------------------------------*/
/* Styling for intro begins here */

.container_intro {
    padding: 5%;
    text-align: center;
    background: #e8e8e859;
}

/* Styling for intro ends here */
/*------------------------------------------------------------------------*/
/* Styling for skills begins here */

.skills {
    background: #86888a;
    padding-bottom: 5%;
}
.container_skills {
    padding: 5%;
    padding-bottom: 2%;
    color: azure;
    text-align: center;
}

/* Styling for cards begins here */

.card-group {
    padding-left: 5%;
    padding-right: 5%;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    height: auto;
}
/* Styling for cards ends here */

/* Styling for skills ends here */
/*------------------------------------------------------------------------*/
/* Styling for experience begins here */

.container_experience {
    text-align: center;
    padding: 5%;
    padding-bottom: 2%;
    background: rgb(199, 199, 199);
}
.container_experience > h2 {
    padding: 2%;
    color: #026d9b;
}

/* styles for experience section ends here */
/*------------------------------------------------------------------------*/
/* styles for project section begins here */

.container_projects {
    background: dimgray;
    text-align: center;
    padding: 2%;
}
.container_bg1 {
    background: dimgray;
    padding: 2%;
}
.container_bg2 {
    background: black;
    padding: 2%;
}

/* styles for project section ends here */
/*------------------------------------------------------------------------*/
/* styles for contact section begins here */

.container_contact {
    background: rgb(212, 212, 212);
    text-align: center;
    padding: 5%;
}

.container_form {
    width: 90%;
    text-align: left;
    background: rgb(212, 212, 212);
    padding: 5%;
}
.btn-secondary {
    color: #fff;
    background-color: #727980a6;
    border-color: #6c757d;
}
/* styles for contact section ends here */

/*------------------- Section Styling ends here ------------------------*/


/* styling for footer section begins here */
.footer {
    color: dimgray;
    background-color: #e8e8e859;
    padding: 5% !important;
}
/* styling for footer section begins here */



/*-------------------- Respondsive styling ------------------------*/
@media screen and (max-width: 1023px) {
    .navbar-menu.is-active {
        display: block;
        background-color: #191616;
        background-color: #1d1616ba;
    }
}
.navbar-item, .navbar-link {
    color: oldlace;
}   